<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Блог сайта</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div th:each="el : ${post}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"></h3>
        <p th:text="${el.full_text}"></p>
        <p><b>Просмотры:</b> <span th:text="${el.views}"/></p>
        <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
            <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
            <button class="btn btn-danger" type="submit">Удалить</button>
        </form>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>